.social__links__container{
    display: grid;
    grid-template-columns: 1fr;
    z-index: 9;
    
    

}
.btn__container{
    display: flex;
    flex-direction: row;
    bottom:0;
  
}
.link__btn{
    border:none;
    cursor: pointer;
    background-color: transparent;
    display: block;
    /* font-family: 'Rajdhani', sans-serif; */
    opacity: 0.7;
    transition: .3s;
    inset: 10px;
    margin: 5px;
    list-style: none;
    text-decoration: none;
    color: black;

    
}
.link__btn:hover{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    scale: 1.01;

}
@media (max-width: 600px) {
    .link__btn{

        color: black;

    }
    
}
