.read__more__btn{
    
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
    padding: 1em;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: transparent;
    margin-top:10px;
    border: 1px solid rgba(11,15,25,.1);

}
.read__more__btn:hover{

    opacity: 1;
    scale: .99;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1); */
    text-decoration: underline;
}
.icon{

    height:18px;
    width: 18px;;
}