.about__container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    padding-top: 175px;
    background-color: #fff;
    box-sizing: border-box;
    

    }
  
    @media (max-width: 600px) {
        .about__container{

            padding-top:50px;
            margin: 0;
            /* background-color: red; */
          
        }
    }