.contact__container{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
    position: relative;
    width: 100vw;
  
    }
  