.modal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    height: fit-content;
    position: absolute;
    transition: .5s;
}
.modal__content{
    display: flex;
    justify-content: center;
    align-items: center;

}
.success{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    flex-direction: column;
    

}
.error{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: red;
}
