.form__container{
    display: flex;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    height:90%;
    width: 100%;
    border-radius: 25px;
    color:white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    font-family: 'Work Sans', sans-serif;

}
.form__heading{

    margin-bottom: 50px;
    font-size: 50px;
}
.first__layer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color:#C6CDD2;
    font-family: 'Work Sans', sans-serif;

}
.text__input, .text__area, .email__input{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 4%;
}
.email__input{

    padding: 3px;
    width:500px;
    height: 45px;
    font-family: 'Work Sans', sans-serif;

}

.text__input{

    width:240px;
    font-family: 'Work Sans', sans-serif;
    height: 45px;
    padding: 3px;
}
.text__area{
    padding: 3px;
    width:500px;
    height: 90px;
    font-family: 'Work Sans', sans-serif;
    resize: none;
    overflow-y: scroll;
}
.submit__button{
    background-color: black;
    margin-top:20px;
    border: 1px solid rgba(11,15,25,.1);
    color:white;
    border-radius: 6px;
    height: 60px;
    font-size: 17px;
    width: 200px;
    padding:5px;
    font-family: Poppins,sans-serif;
    transition: all .3s;

}

@media (max-width: 600px) {
    .form__container{
        border-radius: 2px;
        width: 100%;
        margin:0;
    }

    .form{

        width: 100%;

    
    }

    .form__heading{
        font-size: 35px;
        margin-top: 20px;

    }
    .first__layer{
        flex-direction: column;
        width: 100%;
        padding: 2%;

    }

    .second__layer{
        width: 100%;
        padding: 2%;
     
    }
    .text__input, .text__area, .email__input{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;

    }

    
    .submit__button{
        width: 100%;
        margin-bottom:10%;
     
       
    }

}