.header__container{
    top:0;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 100px;
    margin: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    
}

  @media (max-width: 600px) {

   .header__container{

    background-color: black;
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    height: 50px;
    box-sizing: border-box;
  }  

  }
