.header__container{
    top:0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.1);
}

  @media (max-width: 600px) {

   .header__container{

    background-color: black;
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    height: 50px;
    box-sizing: border-box;
  }  

  }
