.navbar__container {

    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
    list-style: none;
    width: 100vw;
    position: fixed;
    height: 75px;
    z-index: 8888;
    background-color: rgb(32, 32, 32); /* 10% transparent white (#fff) */
    backdrop-filter: blur(100px); /* Adjust the blur radius as needed */
    transition: .2s;   
    transform: translateY(15%);
    transition-duration: .3s;
  
  }
  .navbar__container::before{
    content: '';
    width: 100%;
    background-color: rgb(32, 32, 32); /* 10% transparent white (#fff) */
    position: absolute;
    transform: translateY(-100%);
    height: 50%;
    transition-duration: .5s;




  }

  .link__wrapper {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    justify-content: space-evenly;
    width: 100px;
   

    


  }

  .navbar__hidden{
    /* transform: translateY(-100%); */
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
    list-style: none;
    width: 100vw;
    position: fixed;
    height: 75px;
    z-index: 8888;
    background-color: rgba(146, 144, 144, 0.8); /* 10% transparent white (#fff) */
    backdrop-filter: blur(100px); /* Adjust the blur radius as needed */
    transform: translateY(0);
    transition-duration: .3s;

   
  
  }


  .links__container{
    display: flex;
    margin-right: 10%;

  }
  
  .navbar__link {

    text-decoration: none;
    letter-spacing: 2px;
    display: flex;
    text-transform:uppercase;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;
  
  
  }
  
  .navbar__link:hover {
    opacity: 1;
   color: #7a7b7c;;
  }
  
  .navbar__link.active {
    color: #0280B9;
    opacity: 1;
    font-weight: 700;
  
  }
  
  @media (max-width: 600px) {
  
    .navbar__container {
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      justify-content: space-evenly;
      height: 100vh;
      width: 100vw;
      background-color: #0E0F10;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
      overflow-y: hidden;
      z-index: 9999;
      padding-bottom:60px;
      transition: transform 0.5s cubic-bezier(.10, .10, .3, .2);
      position: fixed;
      inset: 0;
      transform: translateY(0);
      transform: translateX(0);

    }
    .navbar__container::before{

      display: none;
    }
    
    .navbar__hidden {
  
  
      transform: translateX(-100%);
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      justify-content: space-evenly;
      height: 100vh;
      width: 100vw;
      background-color: #0E0F10;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
      overflow-y: hidden;
      z-index: 9999;
      padding-bottom:60px;
      transition: transform 0.5s cubic-bezier(.10, .10, .3, .2);
      position: fixed;
      inset: 0;

      
    }
    
    .links__container{
      padding-top: 75px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      width: 80%;
      margin-right: 0;
      

    }
  
    .link__wrapper {
      position: relative;
      height: 50px;
      width: 100%;
      
  
  
    }
  
    .navbar__link {
      display: flex;
      color: white;
      font-size: 24px;
      text-transform: capitalize;
      opacity: 1;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;

    }
  
    .navbar__link:hover {
      opacity: .8;
      scale: .9;
    }
  
  .navbar__link.active {
    color: whitesmoke;
    opacity: 1;
    filter: brightness(125%);
    
  
  }
  }
  
  
  
