
.navbar__container {

    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
    list-style: none;
    width: 100vw;
    position: fixed;
    height: 75px;
    z-index: 8888;
    background:transparent; /* 10% transparent white (#fff) */
    backdrop-filter: blur(100px); /* Adjust the blur radius as needed */
    transition: .2s;   
    transform: translateY(15%);
    transition-duration: .3s;
  
  }
  .navbar__container::before{
    content: '';
    width: 100%;
    background-image: linear-gradient(147deg, #2c3e50  49%, #000000 100%);
    position: absolute;
    transform: translateY(-20%);
    height: 200%;
    transition-duration: .5s;
    z-index: -1;




  }

  .link__wrapper {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    justify-content: space-evenly;
    width: 100px;
   

    


  }

  .navbar__hidden{
    /* transform: translateY(-100%); */
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
    list-style: none;
    width: 100vw;
    position: fixed;
    height: 60px;
    
    z-index: 8888;
    background-color: rgba(146, 144, 144, 0.8); /* 10% transparent white (#fff) */
    backdrop-filter: blur(100px); /* Adjust the blur radius as needed */
    transform: translateY(0);
    transition-duration: .3s;

   
  
  }


  .links__container{
    display: flex;
    margin-right: 10%;

  }
  
  .navbar__link {

    text-decoration: none;
    letter-spacing: 2px;
    display: flex;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;
  
  
  }
  
  .navbar__link:hover {
    opacity: 1;
    color: #7a7b7c;;
  }
  
  .navbar__link.active {
 
    opacity: 1;

    color: #EA6E43;
  
  }
  
  @media (max-width: 600px) {
  
    .navbar__container {
      /* animation: show 0.5s cubic-bezier(.29,.3,0,.95) forwards; */
      transform: 0.5s cubic-bezier(.29,.3,0,.95);
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      justify-content: space-between;
      height: 100vh;
      width: 83vw;
      background-color: #0E2E47;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
      overflow-y: hidden;
      z-index: 9999;
      padding-bottom:60px;
      /* transition: transform 0.5s cubic-bezier(.29,.3,0,.95); */
      position: fixed;
      inset: 0;
      transform: translateY(0);
      transform: translateX(0);
      border: 1px solid rgba(11,15,25,.1);
      transition-delay: .2s;
   
    }

    .navbar__container::before{
      display: none;

    }

    /* .navbar__container::before{

     display: none;
     
    }
     */
    .navbar__hidden {

      /* animation: hide 0.5s cubic-bezier(.29,.3,0,.95) ; */
      transform: translateX(-100%);
      transition: 0.5s cubic-bezier(.29,.3,0,.95) ;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      justify-content: space-between;
      height: 100vh;
      width: 83vw;
      background-color: #3D3D3D;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
      overflow-y: hidden;
      z-index: 9999;
      padding-bottom:60px;
      position: fixed;
      inset: 0;
      border: 1px solid rgba(11,15,25,.1);

      
    }
    
    .links__container{
      padding-top: 30%;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 80%;
      padding-bottom: 75px;
      margin-right: 0;
      

    }
  
    .link__wrapper {
      position: relative;
      height: 50px;
      width: 100%;
  
    }
  
    .navbar__link {
      font-family: 'Questrial', sans-serif;
      display: flex;
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      opacity: 1;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin: 2px;
      padding: 2px;
      width: 100%;
      height: 100%;
      font-weight: 600;

    }
    .navbar__link:hover {
      opacity: 1;
     transform: scale(1.1);
     background-color: #EA6E43;
     color: black;
     font-weight: bold;
    }
    
    .navbar__link.active {
     color: #EA6E43;
      opacity: 1;
      font-weight: 700;
      
    
    }
    .navbar__link:hover.active {

      color: white;

    }
  

  }
  
  
  
  @keyframes show {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes hide {
    from {
      transform: translateX(-0);
    }
    to {
      transform: translateX(-100%);
    }
  }