.navbar__container {

    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
    list-style: none;
    width: 100%;
    position: sticky;
    height: 100px;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 0;
    margin-bottom: 0;
    padding-right: 120px;
    background-color: #fff;
  
  }
  .links__container{
    display: flex;
  }
  
  .navbar__link {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    display: inline-block;
    text-transform:uppercase;
    font-size: 15px;
    font-weight: 500;
    margin-left:30px;
    margin-right: 30px;
    width: fit-content;
    opacity: 0.8;
  
  }
  
  .navbar__link:hover {
    opacity: 1;
  }
  
  .navbar__link.active {
    color: black;
    opacity: 1;
  
  }
  
  @media (max-width: 770px) {
  
    .navbar__container {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      position: sticky;
      justify-content: flex-start;
      overflow-x: hidden;
      height: 100vh;
      align-items: center;
      left: 0;
      top: 0;
      width: 75%;
      padding: 0;
      padding-top: 60px;
      background-color: #171B25;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
      padding-bottom: 90px;
      overflow-y: hidden;
      z-index: 9999;
      min-height: 100vh;
  
    }
   
    .links__container{
      flex-direction: column;
      display: flex;
      align-self: center;
      padding-bottom:40%;
      padding-top: 20%;
    }
  
    .link__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 2%;
      opacity: 1;
  
    }
  
    .navbar__link {
      display: flex;
      color: white;
      font-size: 20px;
      margin-bottom: 20px;
      text-transform: capitalize;
      opacity: 1;
      text-decoration: none;
      font-weight: 900;
    }
  
    .navbar__link:hover {
      opacity: .8;
    }
  
  .navbar__link.active {
    color: yellow;
    opacity: 1;
  
  }
  }
  
  
  
