.social__links__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.link__btn{
    border:none;
    cursor: pointer;
    display: flex;

    /* font-family: 'Rajdhani', sans-serif; */
    opacity: 0.7;
    inset: 10px;
    margin: 10px;
    list-style: none;
    text-decoration: none;
    color: black;
   

    
}
.social__icon svg {
    width: 18px;
    height: 18px;
    opacity: 1;
    transition: .5s;

  }
  
.link__btn:hover{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    scale: 1.01;
    transform: translateY(-5%);

}

@media (max-width: 600px) {

    .social__links__container{ 

        padding-bottom: 20px;


}

