.social__links__container{
    display: flex;
    flex-direction: row;
}
.link__btn{
    border:none;
    cursor: pointer;
    display: flex;
    /* font-family: 'Rajdhani', sans-serif; */
    opacity: 0.7;
    margin: 10px;
    list-style: none;
    text-decoration: none;
    color: black;
   

    
}
.social__icon svg {
    width: 17px;
    height: 17px;
    opacity: 1;
    transition: .5s;
    padding-bottom: 3px;

  }

  .social__icon svg:hover {
    scale: 1.01;
    transform: translateY(-5%);
  } 
  .social__icon svg:hover:nth-child(1) {
    fill:#0A66C2;
  
  }
  .social__icon svg:hover:nth-child(2) {
    fill:#181717;
  
  }
  .social__icon svg:hover:nth-child(3) {
    fill:#1877F2;
  
  }
  .social__icon svg:hover:nth-child(4) {
    fill:#E4405F;
  
  }
  
  
.link__btn:hover{
  
    scale: 1.01;
    transform: translateY(-5%);
    filter: brightness(125%);
    

}

@media (max-width: 600px) {

.social__links__container{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}