.about__content__container{
    display:flex;
    margin: 10%;
    font-family: 'Inter', sans-serif;

    
    
}


.about__text__container{
    font-size: 24px;
     display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    width: 50%;
    text-indent: 40px;


}


.about__text__container__clicked{
    display: flex;
    font-size: 24px;
    width: 50%;
     text-indent: 40px;

}



@media (max-width: 600px) {
    .about__text__container{
        font-size: 24px;
         display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        overflow: hidden;
        width: 100%;
        text-indent: 40px;
    
    
    }

.about__text__container__clicked{
    display: flex;
    font-size: 24px;
    width: 100%;
     text-indent: 40px;

}

}