.about__content__container{
    display:flex;
    margin: 5%;
    padding-bottom: 50px;
    font-family: 'Inter', sans-serif;
    
}
/* .about__text{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-indent: 50px;
} */



@media (max-width: 600px) {

    .about__content{
        display:flex;


    }
    .about__text{
        text-indent: 30px;
    }
}