.contact__content__container{
    height:auto;
    width:100vw;
    padding-top: 175px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 
}
.email{

    font-family: 'Lato';
    font-size:45px;
}
@media (max-width: 600px) {
 .contact__content__container{
    padding-top: 0px;
 }

.email{

    font-size: 18px;
}


}