.heroText__container{
        display: flex;
        flex-direction: column;
        padding: 75px;
        width: 100vw;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 70vh;

}
.heroText{
        letter-spacing: 3px;
        font-size: 75px;
        transition: .3s;
        transform: translateY(0);
        opacity: 0.8;
        margin-bottom: 2%;
}
.heroText__description{
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
        text-align: justify;
        text-indent:75px;

}

@media (max-width: 600px) {

    .heroText__container{
            display: flex;
            flex-direction: column;
            padding: 60px;
            width: 100vw;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 100vh;

    }
    .heroText{
            letter-spacing: 3px;
            font-size: 50px;
            transition: .3s;
            transform: translateY(0);
            opacity: 0.8;
            margin-bottom: 7%;
    }
    .heroText__description{
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 10px;
            text-align: justify;
            text-indent:75px;
    
    }

}