.portfolio__first__section{
        height:100%;
        border-bottom: #0E0F10 solid; 
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        position: relative;
        padding: 10%;
        color: black;
        
       
       
}

.hero__text__container{
   
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        width: 80%;

        
}       

.hero__text{
        letter-spacing: 3px;
        font-size: 75px;
        transition: .3s;
        margin-bottom: 2%;
}
.qoute::before{

        content: '"';
}

.qoute::after{

        content: '"';
}

.text{
       
        color: rgba(255, 255, 255, 0.7);;

}

.portfolio__second__section{ 
        height:100%;
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        position: relative;
        padding: 10%;
        color: black;



}
.services{

        font-size: 45px;
        font-weight: 600;


}


@media (max-width: 600px) {
    .first__section{
        height: 100vh;
        padding-top:20%;
        width: 100vw;

    }

    .hero__text__container{
            padding-bottom: 10%;
            width: 100%;
            justify-content: center;


    }
    .hero__text{
     
            transition: .3s;
            word-wrap: none;
            font-size: 60px;
    }
    .description{
            font-size: 16px;
            
}
    .portfolio__second__section{

        padding: 10%;
        padding-top: 10%;
    }

}