.portfolio__first__section{
        height:100%;
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        position: relative;

        color: black;
        background-color: white;
        
        
       
       
}

.hero__text__container{
        font-family:  'Manrope';
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        width: 80%;
        text-align: center;
        height: 600px;
      
        

        
}       

.hero__text{
        letter-spacing: 3px;
        font-size: 70px;
        transition: .3s;
        margin-bottom: 2%;  
        font-weight: 900;
}


.text{
       
        color: rgba(255, 255, 255, 0.7);;

}

.features{

        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100px;
}
.grid_item{
       
        padding-inline:10px;
        font-weight: 700;
        font-size: 18px;
        white-space: nowrap;
        

}

.card{
        display: flex;
        height: 400px;
        background-color:rgb(233, 232, 231);
        align-items: center;

        width: fit-content;
 }

.portfolio__second__section{ 
        height:100%;
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        position: relative;
        padding: 10%;
        color: black;
        background-color: white;
        



}

.ptag_title{
        display: flex;
        text-align: center;
        padding:2%;
        font-size: 28px;
        align-self: center;
        line-height:34px;
 
}
.portfolio_ptag{


        width: 100vw;
        padding: 2%;
        font-size: 18px;
        line-height: 28px;
        width: 90vw;
        font-weight: 400;
        text-align: center;
        font-family: 'Manrope';
}

.services__container{

        display: flex;
        flex-direction: column;
        padding: 5%;
        width: 90vw;
        background-color:rgb(233, 232, 231);
        align-items: center;
}

@media (max-width: 600px) {

    .first__section{
        height: 100vh;
        padding-top:20%;
        width: 100vw;

    }
    .ptag_title{
        font-size: 24px;
     
    }

    .portfolio_ptag{

        font-size: 18px;
    }

    .hero__text__container{
            padding-bottom: 10%;
            width: 100%;
            height: 400px;
            justify-content: center;
            flex-direction: column;


    }
    .hero__text{
     
            transition: .3s;
            word-wrap: none;
            font-size: 50px;
    }
    .features{

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        font-size: 16px;
        justify-content: center;
        place-items: center;
        height: 200px;
        margin:5%;
        width: 90vw;
        grid-template-areas: 
        'one  two'
        'three  three'
        'five five'

        ;

}


.grid_item{
       
        padding-inline:10px;
        font-weight: 700;
        font-size: 18px;
        white-space: nowrap;
        

}
.grid_item:nth-child(5){
        grid-area: three ;
        

}


 .card{
        display: flex;
        height: 400px;
        background-color:rgb(233, 232, 231);
        align-items: center;

        width: fit-content;
 }
    .portfolio__second__section{

        padding: 10%;
        padding-top: 10%;
    }

}