.portfolio__first__section{
        height:100%;
        border-bottom: #0E0F10 solid; 
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        position: relative;
        padding: 10%;
        color: white;
        background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
       
       
}

.hero__text__container{
   
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        width: 80%;

        
}       

.hero__text{
        letter-spacing: 3px;
        font-size: 75px;
        transition: .3s;
        margin-bottom: 2%;
}

.text{
        text-indent:50px;
        color: rgba(255, 255, 255, 0.7);;

}
.description{
        
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
        text-align: justify;
      

}
.portfolio__second__section{ 
        height:100%;
        border-bottom: #0E0F10 solid; 
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        position: relative;
        padding: 10%;
        color: black;



}
.services{

        font-size: 45px;
        font-weight: 600;


}


@media (max-width: 600px) {
    .first__section{
        height: 100vh;
        padding-top:20%;
        width: 100vw;

    }

    .hero__text__container{
            padding-bottom: 10%;
            width: 100%;
            justify-content: center;


    }
    .hero__text{
     
            transition: .3s;
            word-wrap: none;
            font-size: 60px;
    }
    .description{
            font-size: 16px;
            
    }
    .text{
        text-indent:40px;
 

}
    .portfolio__second__section{

        padding: 10%;
        padding-top: 10%;
    }

}